[user]
  email = yuan.lijun@hotmail.com
  name = YUAN Lijun
[color]
  ui = auto
[filter "lfs"]
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
  clean = git-lfs clean -- %f
[http]
  sslVerify = false

# delta
[include]
  path = ~/.config/delta/catppuccin.gitconfig
[core]
  quotepath = off
  pager = "{                                                                   \
    COLUMNS=$(tput cols);                                                      \
    if [ $COLUMNS -ge 160 ] ; then                                             \
      delta --side-by-side --features=catppuccin-macchiato -w $COLUMNS;        \
    else                                                                       \
      delta --features=catppuccin-macchiato;                                   \
    fi                                                                         \
    }"
  excludesfile = ~/.gitignore_global
[delta]
  navigate = true
  features = catppuccin-macchiato

# mergetool
[merge]
  tool = vimdiff
[mergetool "vimdiff"]
  path = nvim

# alias
[alias]
  b = branch
  c = commit
  co = checkout
  st = status
  l = log
  ls = log --pretty=format:"%C(auto)%h%d\\ %s\\ %C(black)%C(bold)%cr%Creset\\ %Cblue[%cn]"
  ll = log --pretty=format:"%C(auto)%h%d\\ %s\\ %C(black)%C(bold)%cr%Creset\\ %Cblue[%cn]" --numstat

# private work config with "includeif"
[include]
  path = ~/.gitconfig_work
