<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>autohide</key>
	<true/>
	<key>expose-group-apps</key>
	<false/>
	<key>largesize</key>
	<real>16</real>
	<key>last-analytics-stamp</key>
	<array>
		<real>810038516.831599</real>
	</array>
	<key>lastShowIndicatorTime</key>
	<real>777872186.30577803</real>
	<key>launchanim</key>
	<true/>
	<key>loc</key>
	<string>en_US:CN</string>
	<key>magnification</key>
	<false/>
	<key>mineffect</key>
	<string>scale</string>
	<key>minimize-to-application</key>
	<true/>
	<key>mod-count</key>
	<integer>123</integer>
	<key>mru-spaces</key>
	<false/>
	<key>orientation</key>
	<string>left</string>
	<key>persistent-apps</key>
	<array>
		<dict>
			<key>GUID</key>
			<integer>4208956212</integer>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9va3wCAAAAAAUQQAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAIAB
				AAAEAAAAAwMAAAAAACAMAAAAAQEAAEFwcGxpY2F0aW9u
				cwgAAAABAQAATGFyay5hcHAIAAAAAQYAABAAAAAkAAAA
				CAAAAAQDAAA5VgAAAAAAAAgAAAAEAwAAhHgEAAAAAAAI
				AAAAAQYAAEQAAABUAAAACAAAAAAEAABBx5GxTR1whxgA
				AAABAgAAAgAAAAAAAAAPAAAAAAAAAAAAAAAAAAAACAAA
				AAEJAABmaWxlOi8vLwwAAAABAQAATWFjaW50b3NoIEhE
				CAAAAAQDAAAAUKEbcwAAAAgAAAAABAAAQcdo+3QAAAAk
				AAAAAQEAADc5RTkyMTI3LTEzQTYtNDZBNS05MDI5LTgx
				NkQwM0ZFMUNENRgAAAABAgAAgQAAAAEAAADvEwAAAQAA
				AAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEFAAAvAAAA
				AQEAAE5TVVJMQm9va21hcmtRdWFyYW50aW5lTW91bnRl
				ZE5ldHdvcmtWb2x1bWVzS2V5ALQAAAD+////AQAAAAAA
				AAAOAAAABBAAADQAAAAAAAAABRAAAGQAAAAAAAAAEBAA
				AIQAAAAAAAAAQBAAAHQAAAAAAAAAAiAAADQBAAAAAAAA
				BSAAAKQAAAAAAAAAECAAALQAAAAAAAAAESAAAOgAAAAA
				AAAAEiAAAMgAAAAAAAAAEyAAANgAAAAAAAAAICAAABQB
				AAAAAAAAMCAAAEABAAAAAAAAENAAAAQAAAAAAAAASAEA
				gEABAAAAAAAA
				</data>
				<key>bundle-identifier</key>
				<string>com.electron.lark</string>
				<key>dock-extra</key>
				<false/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///Applications/Lark.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>Feishu</string>
				<key>file-mod-date</key>
				<integer>64883627973530</integer>
				<key>file-type</key>
				<integer>41</integer>
				<key>is-beta</key>
				<false/>
				<key>parent-mod-date</key>
				<integer>169633586461850</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>GUID</key>
			<integer>4208956213</integer>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9va0QCAAAAAAUQQAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAFQB
				AAAEAAAAAwMAAAAAACAMAAAAAQEAAEFwcGxpY2F0aW9u
				cxEAAAABAQAAQnJhdmUgQnJvd3Nlci5hcHAAAAAIAAAA
				AQYAABAAAAAkAAAACAAAAAQDAAD+IPAAAAAAAAgAAAAE
				AwAAgOA7AQAAAAAIAAAAAQYAAFAAAABgAAAACAAAAAAE
				AABBx7KV8QAAABgAAAABAgAAAgAAAAAAAAAPAAAAAAAA
				AAAAAAAAAAAACAAAAAEJAABmaWxlOi8vLwwAAAABAQAA
				TWFjaW50b3NoIEhECAAAAAQDAAAAUKEbcwAAAAgAAAAA
				BAAAQcffgC8AAAAkAAAAAQEAADc5RTkyMTI3LTEzQTYt
				NDZBNS05MDI5LTgxNkQwM0ZFMUNENRgAAAABAgAAgQAA
				AAEAAADvEwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAA
				AAAAAAEFAACoAAAA/v///wEAAAAAAAAADQAAAAQQAABA
				AAAAAAAAAAUQAABwAAAAAAAAABAQAACQAAAAAAAAAEAQ
				AACAAAAAAAAAAAIgAABAAQAAAAAAAAUgAACwAAAAAAAA
				ABAgAADAAAAAAAAAABEgAAD0AAAAAAAAABIgAADUAAAA
				AAAAABMgAADkAAAAAAAAACAgAAAgAQAAAAAAADAgAABM
				AQAAAAAAABDQAAAEAAAAAAAAAA==
				</data>
				<key>bundle-identifier</key>
				<string>com.brave.Browser</string>
				<key>dock-extra</key>
				<false/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///Applications/Brave%20Browser.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>Brave Browser</string>
				<key>file-mod-date</key>
				<integer>229290695509518</integer>
				<key>file-type</key>
				<integer>41</integer>
				<key>is-beta</key>
				<false/>
				<key>parent-mod-date</key>
				<integer>229698717402638</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>GUID</key>
			<integer>4164837684</integer>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9vazwCAAAAAAUQQAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEwB
				AAAEAAAAAwMAAAAAACAMAAAAAQEAAEFwcGxpY2F0aW9u
				cwsAAAABAQAAV2V6VGVybS5hcHAACAAAAAEGAAAQAAAA
				JAAAAAgAAAAEAwAA/ziZAQAAAAAIAAAABAMAAIppCwAA
				AAAACAAAAAEGAABIAAAAWAAAAAgAAAAABAAAQccndeuA
				AAAYAAAAAQIAAAIAAAAAAAAADwAAAAAAAAAAAAAAAAAA
				AAgAAAABCQAAZmlsZTovLy8MAAAAAQEAAE1hY2ludG9z
				aCBIRAgAAAAEAwAAAFChG3MAAAAIAAAAAAQAAEHIFrRl
				gAAAJAAAAAEBAAA3OUU5MjEyNy0xM0E2LTQ2QTUtOTAy
				OS04MTZEMDNGRTFDRDUYAAAAAQIAAIEAAAABAAAA7xMA
				AAEAAAAAAAAAAAAAAAEAAAABAQAALwAAAAAAAAABBQAA
				qAAAAP7///8BAAAAAAAAAA0AAAAEEAAAOAAAAAAAAAAF
				EAAAaAAAAAAAAAAQEAAAiAAAAAAAAABAEAAAeAAAAAAA
				AAACIAAAOAEAAAAAAAAFIAAAqAAAAAAAAAAQIAAAuAAA
				AAAAAAARIAAA7AAAAAAAAAASIAAAzAAAAAAAAAATIAAA
				3AAAAAAAAAAgIAAAGAEAAAAAAAAwIAAARAEAAAAAAAAQ
				0AAABAAAAAAAAAA=
				</data>
				<key>bundle-identifier</key>
				<string>com.github.wez.wezterm</string>
				<key>dock-extra</key>
				<false/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///Applications/WezTerm.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>WezTerm</string>
				<key>file-mod-date</key>
				<integer>3838076119</integer>
				<key>file-type</key>
				<integer>41</integer>
				<key>is-beta</key>
				<false/>
				<key>parent-mod-date</key>
				<integer>176539910747600</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
	</array>
	<key>persistent-others</key>
	<array>
		<dict>
			<key>GUID</key>
			<integer>1288287008</integer>
			<key>tile-data</key>
			<dict>
				<key>arrangement</key>
				<integer>2</integer>
				<key>book</key>
				<data>
				Ym9va5QCAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAkAEAAAQAAAADAwAAAAAAIAUA
				AAABAQAAVXNlcnMAAAAJAAAAAQEAAHl1YW5saWp1bgAA
				AAkAAAABAQAARG93bmxvYWRzAAAADAAAAAEGAAAQAAAA
				IAAAADQAAAAIAAAABAMAALJUAAAAAAAACAAAAAQDAABJ
				BwUAAAAAAAgAAAAEAwAAfAcFAAAAAAAMAAAAAQYAAFwA
				AABsAAAAfAAAAAgAAAAABAAAQcbjmoUAAAAYAAAAAQIA
				AAIAAAAAAAAADwAAAAAAAAAAAAAAAAAAAAgAAAAEAwAA
				AQAAAAAAAAAEAAAAAwMAAPUBAAAIAAAAAQkAAGZpbGU6
				Ly8vDAAAAAEBAABNYWNpbnRvc2ggSEQIAAAABAMAAABQ
				oRtzAAAACAAAAAAEAABBxxWwfgAAACQAAAABAQAARUJB
				QTFCQTUtODhFRi00NDMwLUI4RTUtNUZFNzk0RkUwQjE2
				GAAAAAECAACBAAAAAQAAAO8TAAABAAAAAAAAAAAAAAAB
				AAAAAQEAAC8AAAAAAAAAAQUAAMwAAAD+////AQAAAAAA
				AAAQAAAABBAAAEgAAAAAAAAABRAAAIwAAAAAAAAAEBAA
				ALAAAAAAAAAAQBAAAKAAAAAAAAAAAiAAAHwBAAAAAAAA
				BSAAAOwAAAAAAAAAECAAAPwAAAAAAAAAESAAADABAAAA
				AAAAEiAAABABAAAAAAAAEyAAACABAAAAAAAAICAAAFwB
				AAAAAAAAMCAAAIgBAAAAAAAAAcAAANAAAAAAAAAAEcAA
				ACAAAAAAAAAAEsAAAOAAAAAAAAAAENAAAAQAAAAAAAAA
				</data>
				<key>displayas</key>
				<integer>0</integer>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///Users/yuanlijun/Downloads/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>Downloads</string>
				<key>file-mod-date</key>
				<integer>276801595742872</integer>
				<key>file-type</key>
				<integer>2</integer>
				<key>is-beta</key>
				<false/>
				<key>parent-mod-date</key>
				<integer>111088872648971</integer>
				<key>preferreditemsize</key>
				<integer>-1</integer>
				<key>showas</key>
				<integer>1</integer>
			</dict>
			<key>tile-type</key>
			<string>directory-tile</string>
		</dict>
	</array>
	<key>recent-apps</key>
	<array/>
	<key>region</key>
	<string>CN</string>
	<key>show-process-indicators</key>
	<true/>
	<key>show-recents</key>
	<false/>
	<key>showDesktopGestureEnabled</key>
	<true/>
	<key>showLaunchpadGestureEnabled</key>
	<true/>
	<key>showMissionControlGestureEnabled</key>
	<true/>
	<key>tilesize</key>
	<real>65</real>
	<key>trash-full</key>
	<true/>
	<key>version</key>
	<integer>1</integer>
	<key>wvous-br-corner</key>
	<integer>1</integer>
	<key>wvous-br-modifier</key>
	<integer>0</integer>
</dict>
</plist>
