<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SpacesDisplayConfiguration</key>
	<dict>
		<key>Management Data</key>
		<dict>
			<key>Age</key>
			<real>49901.480478500016</real>
			<key>Management Mode</key>
			<integer>1</integer>
			<key>Monitors</key>
			<array>
				<dict>
					<key>Current Space</key>
					<dict>
						<key>ManagedSpaceID</key>
						<integer>5</integer>
						<key>id64</key>
						<integer>5</integer>
						<key>type</key>
						<integer>0</integer>
						<key>uuid</key>
						<string>1CFB48FB-485C-4CCE-859D-E7E7F21278E2</string>
					</dict>
					<key>Display Identifier</key>
					<string>Main</string>
					<key>Spaces</key>
					<array>
						<dict>
							<key>ManagedSpaceID</key>
							<integer>3</integer>
							<key>id64</key>
							<integer>3</integer>
							<key>type</key>
							<integer>0</integer>
							<key>uuid</key>
							<string>83CF32E7-68DC-4414-85DB-208A8B1B1F2A</string>
						</dict>
						<dict>
							<key>ManagedSpaceID</key>
							<integer>4</integer>
							<key>id64</key>
							<integer>4</integer>
							<key>type</key>
							<integer>0</integer>
							<key>uuid</key>
							<string>D257E1E3-5794-4A93-BFA8-6DBB75C6BF6E</string>
						</dict>
						<dict>
							<key>ManagedSpaceID</key>
							<integer>5</integer>
							<key>id64</key>
							<integer>5</integer>
							<key>type</key>
							<integer>0</integer>
							<key>uuid</key>
							<string>1CFB48FB-485C-4CCE-859D-E7E7F21278E2</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>Current Space</key>
					<dict>
						<key>ManagedSpaceID</key>
						<integer>114</integer>
						<key>id64</key>
						<integer>114</integer>
						<key>type</key>
						<integer>0</integer>
						<key>uuid</key>
						<string>30149A24-4A5B-4D93-A5F2-B39187D72931</string>
					</dict>
					<key>Display Identifier</key>
					<string>37D8832A-2D66-02CA-B9F7-8F30A301B230</string>
					<key>Spaces</key>
					<array>
						<dict>
							<key>ManagedSpaceID</key>
							<integer>114</integer>
							<key>id64</key>
							<integer>114</integer>
							<key>type</key>
							<integer>0</integer>
							<key>uuid</key>
							<string>30149A24-4A5B-4D93-A5F2-B39187D72931</string>
						</dict>
						<dict>
							<key>ManagedSpaceID</key>
							<integer>6</integer>
							<key>id64</key>
							<integer>6</integer>
							<key>type</key>
							<integer>0</integer>
							<key>uuid</key>
							<string>1134C50D-278B-43CF-8961-40DFE6E6B9C0</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>Collapsed Space</key>
					<dict>
						<key>AutoCreated</key>
						<true/>
						<key>ManagedSpaceID</key>
						<integer>1800</integer>
						<key>id64</key>
						<integer>1800</integer>
						<key>type</key>
						<integer>0</integer>
						<key>uuid</key>
						<string>8F91E87B-D018-4889-B279-646FCCFDBAB5</string>
					</dict>
					<key>Display Identifier</key>
					<string>13196BA9-46D4-4D33-927D-C56145365642</string>
				</dict>
				<dict>
					<key>Collapsed Space</key>
					<dict>
						<key>ManagedSpaceID</key>
						<integer>617</integer>
						<key>id64</key>
						<integer>617</integer>
						<key>type</key>
						<integer>0</integer>
						<key>uuid</key>
						<string>C3F53EB3-81BB-4174-AE0C-C32FB4991FC2</string>
					</dict>
					<key>Display Identifier</key>
					<string>37D8832A-2D66-02CA-B9F7-8F30A301B230</string>
				</dict>
				<dict>
					<key>Collapsed Space</key>
					<dict>
						<key>ManagedSpaceID</key>
						<integer>9</integer>
						<key>id64</key>
						<integer>9</integer>
						<key>type</key>
						<integer>0</integer>
						<key>uuid</key>
						<string>92182511-BED6-41F5-92EE-CC38C257CD93</string>
					</dict>
					<key>Display Identifier</key>
					<string>35600109-F88B-A06C-0857-D6964E3302DB</string>
				</dict>
			</array>
			<key>Primary</key>
			<dict>
				<key>CreatedCount</key>
				<integer>0</integer>
				<key>DeletedCount</key>
				<integer>0</integer>
				<key>LifetimeEntryCount</key>
				<integer>0</integer>
				<key>LifetimeMax</key>
				<real>0.0</real>
				<key>LifetimeMin</key>
				<real>0.0</real>
				<key>LifetimeSum</key>
				<real>0.0</real>
				<key>PersistedCount</key>
				<integer>0</integer>
			</dict>
			<key>Secondary</key>
			<dict>
				<key>CreatedCount</key>
				<integer>0</integer>
				<key>DeletedCount</key>
				<integer>0</integer>
				<key>LifetimeEntryCount</key>
				<integer>0</integer>
				<key>LifetimeMax</key>
				<real>0.0</real>
				<key>LifetimeMin</key>
				<real>0.0</real>
				<key>LifetimeSum</key>
				<real>0.0</real>
				<key>PersistedCount</key>
				<integer>0</integer>
			</dict>
		</dict>
		<key>Space Properties</key>
		<array>
			<dict>
				<key>name</key>
				<string>83CF32E7-68DC-4414-85DB-208A8B1B1F2A</string>
				<key>windows</key>
				<array>
					<integer>38</integer>
					<integer>131</integer>
					<integer>123</integer>
					<integer>10563</integer>
					<integer>19895</integer>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>D257E1E3-5794-4A93-BFA8-6DBB75C6BF6E</string>
				<key>windows</key>
				<array>
					<integer>38</integer>
					<integer>55</integer>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>1CFB48FB-485C-4CCE-859D-E7E7F21278E2</string>
				<key>windows</key>
				<array>
					<integer>19949</integer>
					<integer>38</integer>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>1134C50D-278B-43CF-8961-40DFE6E6B9C0</string>
				<key>windows</key>
				<array>
					<integer>19840</integer>
					<integer>1803</integer>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>30149A24-4A5B-4D93-A5F2-B39187D72931</string>
				<key>windows</key>
				<array>
					<integer>19840</integer>
					<integer>19896</integer>
				</array>
			</dict>
		</array>
	</dict>
	<key>app-bindings</key>
	<dict>
		<key>app.zen-browser.zen</key>
		<string>D257E1E3-5794-4A93-BFA8-6DBB75C6BF6E</string>
		<key>com.apple.finder</key>
		<string>AllSpaces</string>
		<key>com.apple.music</key>
		<string>83CF32E7-68DC-4414-85DB-208A8B1B1F2A</string>
		<key>com.brave.browser</key>
		<string>D257E1E3-5794-4A93-BFA8-6DBB75C6BF6E</string>
		<key>com.electron.lark</key>
		<string>83CF32E7-68DC-4414-85DB-208A8B1B1F2A</string>
		<key>com.github.wez.wezterm</key>
		<string>1CFB48FB-485C-4CCE-859D-E7E7F21278E2</string>
		<key>com.google.chrome</key>
		<string>D257E1E3-5794-4A93-BFA8-6DBB75C6BF6E</string>
		<key>com.opentext.exceed-turbox-client</key>
		<string>1134C50D-278B-43CF-8961-40DFE6E6B9C0</string>
		<key>com.volcengine.corplink</key>
		<string>83CF32E7-68DC-4414-85DB-208A8B1B1F2A</string>
		<key>md.obsidian</key>
		<string>83CF32E7-68DC-4414-85DB-208A8B1B1F2A</string>
		<key>org.xquartz.x11</key>
		<string>83CF32E7-68DC-4414-85DB-208A8B1B1F2A</string>
	</dict>
	<key>spans-displays</key>
	<false/>
</dict>
</plist>
