<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>last-analytics-stamp</key>
	<real>807801958.54226995</real>
	<key>last-selection</key>
	<dict>
		<key>Height</key>
		<real>626</real>
		<key>Width</key>
		<real>1256</real>
		<key>X</key>
		<real>459</real>
		<key>Y</key>
		<real>350</real>
	</dict>
	<key>last-selection-display</key>
	<integer>0</integer>
	<key>showsCursor</key>
	<true/>
	<key>style</key>
	<string>selection</string>
	<key>target</key>
	<string>preview</string>
	<key>video</key>
	<false/>
</dict>
</plist>
