<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AutoHideMenuBarOption</key>
	<integer>2</integer>
	<key>ControlCenterDisplayableChronoControlsProviderConfiguration</key>
	<data>
	eyJDb250cm9scyI6W3siSWRlbnRpZmllciI6WyJGRjk4MzRBNi1FODVGLTQzNkYtODg2
	My0yNkYyQkYzRTQzRjYiXSwiRGlzcGxheU5hbWUiOiJDYXB0dXJlIFNjcmVlbiIsIkNv
	bnRyb2xTaXplIjowLCJDb250cm9sVHlwZSI6MiwiQ29udHJvbERlc2NyaXB0aW9uIjoi
	QnV0dG9uIHRvIHRha2UgYSBzY3JlZW5zaG90IiwiUHJvbXB0c0ZvclVzZXJDb25maWd1
	cmF0aW9uIjpmYWxzZSwiQ29udHJvbElkZW50aXR5IjoiWW5Cc2FYTjBNRERVQVFJREJB
	VUdCd3BZSkhabGNuTnBiMjVaSkdGeVkyaHBkbVZ5VkNSMGIzQllKRzlpYW1WamRITVNB
	QUdHb0Y4UUQwNVRTMlY1WldSQmNtTm9hWFpsY3RFSUNWUnliMjkwZ0FHb0N3d1ZIUjRm
	SmlkVkpHNTFiR3pVRFE0UEVCRVNFeFJaYVc1MFpXNTBVbVZtVkd0cGJtUlZaWGgwU1dS
	V0pHTnNZWE56Z0FDQUJvQUNnQWZVRmhjWUVCRWFHeHhmRUJCa1pYWnBZMlZKWkdWdWRH
	bG1hV1Z5WHhBWlkyOXVkR0ZwYm1WeVFuVnVaR3hsU1dSbGJuUnBabWxsY2w4UUdXVjRk
	R1Z1YzJsdmJrSjFibVJzWlVsa1pXNTBhV1pwWlhLQUFJQUVnQU9BQlY4UUhXTnZiUzVo
	Y0hCc1pTNWpiMjUwY205c2N5NXpZM0psWlc1emFHOTBYeEFkWTI5dExtRndjR3hsTG5O
	amNtVmxibk5vYjNRdWJHRjFibU5vWlhMU0lDRWlJMW9rWTJ4aGMzTnVZVzFsV0NSamJH
	RnpjMlZ6WHhBVVEwaFRSWGgwWlc1emFXOXVTV1JsYm5ScGRIbWlKQ1ZmRUJSRFNGTkZl
	SFJsYm5OcGIyNUpaR1Z1ZEdsMGVWaE9VMDlpYW1WamRGOFFMR052YlM1aGNIQnNaUzVq
	YjI1MGNtOXNjeTV6WTNKbFpXNXphRzkwTG1OaGNIUjFjbVV0YzJOeVpXVnUwaUFoS0Ns
	ZkVCSkRTRk5EYjI1MGNtOXNTV1JsYm5ScGRIbWlLaVZmRUJKRFNGTkRiMjUwY205c1NX
	UmxiblJwZEhrQUNBQVJBQm9BSkFBcEFESUFOd0JKQUV3QVVRQlRBRndBWWdCckFIVUFl
	Z0NBQUljQWlRQ0xBSTBBandDWUFLc0F4d0RqQU9VQTV3RHBBT3NCQ3dFckFUQUJPd0ZF
	QVZzQlhnRjFBWDRCclFHeUFjY0J5Z0FBQUFBQUFBSUJBQUFBQUFBQUFDc0FBQUFBQUFB
	QUFBQUFBQUFBQUFIZiIsIk92ZXJyaWRlU2l6ZUZvck1lbnVCYXIiOmZhbHNlfSx7Iklk
	ZW50aWZpZXIiOlsiNzhDRDE5MzItQzMxNC00QjJGLUE0MDEtRDMyM0ZFNzA0RjlGIl0s
	IkRpc3BsYXlOYW1lIjoiRGFyayBNb2RlIiwiQ29udHJvbFNpemUiOjAsIkNvbnRyb2xU
	eXBlIjoxLCJDb250cm9sRGVzY3JpcHRpb24iOiJUb2dnbGUgd2hldGhlciBEYXJrIE1v
	ZGUgaXMgZW5hYmxlZCIsIlByb21wdHNGb3JVc2VyQ29uZmlndXJhdGlvbiI6ZmFsc2Us
	IkNvbnRyb2xJZGVudGl0eSI6IlluQnNhWE4wTUREVUFRSURCQVVHQndwWUpIWmxjbk5w
	YjI1WkpHRnlZMmhwZG1WeVZDUjBiM0JZSkc5aWFtVmpkSE1TQUFHR29GOFFEMDVUUzJW
	NVpXUkJjbU5vYVhabGN0RUlDVlJ5YjI5MGdBR29Dd3dWSFI0ZkppZFZKRzUxYkd6VURR
	NFBFQkVTRXhSWmFXNTBaVzUwVW1WbVZHdHBibVJWWlhoMFNXUldKR05zWVhOemdBQ0FC
	b0FDZ0FmVUZoY1lFQkVhR3h4ZkVCQmtaWFpwWTJWSlpHVnVkR2xtYVdWeVh4QVpZMjl1
	ZEdGcGJtVnlRblZ1Wkd4bFNXUmxiblJwWm1sbGNsOFFHV1Y0ZEdWdWMybHZia0oxYm1S
	c1pVbGtaVzUwYVdacFpYS0FBSUFFZ0FPQUJWOFFHbU52YlM1aGNIQnNaUzVqYjI1MGNt
	OXNjeTVrYVhOd2JHRjVYeEFYWTI5dExtRndjR3hsTG1OdmJuUnliMnhqWlc1MFpYTFNJ
	Q0VpSTFva1kyeGhjM051WVcxbFdDUmpiR0Z6YzJWelh4QVVRMGhUUlhoMFpXNXphVzl1
	U1dSbGJuUnBkSG1pSkNWZkVCUkRTRk5GZUhSbGJuTnBiMjVKWkdWdWRHbDBlVmhPVTA5
	aWFtVmpkRjhRSkdOdmJTNWhjSEJzWlM1amIyNTBjbTlzY3k1a2FYTndiR0Y1TG1SaGNt
	c3RiVzlrWmRJZ0lTZ3BYeEFTUTBoVFEyOXVkSEp2YkVsa1pXNTBhWFI1b2lvbFh4QVNR
	MGhUUTI5dWRISnZiRWxrWlc1MGFYUjVBQWdBRVFBYUFDUUFLUUF5QURjQVNRQk1BRkVB
	VXdCY0FHSUFhd0IxQUhvQWdBQ0hBSWtBaXdDTkFJOEFtQUNyQU1jQTR3RGxBT2NBNlFE
	ckFRZ0JJZ0VuQVRJQk93RlNBVlVCYkFGMUFad0JvUUcyQWJrQUFBQUFBQUFDQVFBQUFB
	QUFBQUFyQUFBQUFBQUFBQUFBQUFBQUFBQUJ6Zz09IiwiT3ZlcnJpZGVTaXplRm9yTWVu
	dUJhciI6ZmFsc2V9LHsiSWRlbnRpZmllciI6WyIxNTcyRTZFMi1EMTA5LTRENjctQkRF
	Ni1DRjQ3REEyQjBDRjMiXSwiRGlzcGxheU5hbWUiOiJTdGFnZSBNYW5hZ2VyIiwiQ29u
	dHJvbFNpemUiOjAsIkNvbnRyb2xUeXBlIjoxLCJDb250cm9sRGVzY3JpcHRpb24iOiJF
	bmFibGUgU3RhZ2UgTWFuYWdlciIsIlByb21wdHNGb3JVc2VyQ29uZmlndXJhdGlvbiI6
	ZmFsc2UsIkNvbnRyb2xJZGVudGl0eSI6IlluQnNhWE4wTUREVUFRSURCQVVHQndwWUpI
	Wmxjbk5wYjI1WkpHRnlZMmhwZG1WeVZDUjBiM0JZSkc5aWFtVmpkSE1TQUFHR29GOFFE
	MDVUUzJWNVpXUkJjbU5vYVhabGN0RUlDVlJ5YjI5MGdBR29Dd3dWSFI0ZkppZFZKRzUx
	Ykd6VURRNFBFQkVTRXhSWmFXNTBaVzUwVW1WbVZHdHBibVJWWlhoMFNXUldKR05zWVhO
	emdBQ0FCb0FDZ0FmVUZoY1lFQkVhR3h4ZkVCQmtaWFpwWTJWSlpHVnVkR2xtYVdWeVh4
	QVpZMjl1ZEdGcGJtVnlRblZ1Wkd4bFNXUmxiblJwWm1sbGNsOFFHV1Y0ZEdWdWMybHZi
	a0oxYm1Sc1pVbGtaVzUwYVdacFpYS0FBSUFFZ0FPQUJWOFFJR052YlM1aGNIQnNaUzVY
	YVc1a2IzZE5ZVzVoWjJWeUxtTnZiblJ5YjJ4elh4QVhZMjl0TG1Gd2NHeGxMbGRwYm1S
	dmQwMWhibUZuWlhMU0lDRWlJMW9rWTJ4aGMzTnVZVzFsV0NSamJHRnpjMlZ6WHhBVVEw
	aFRSWGgwWlc1emFXOXVTV1JsYm5ScGRIbWlKQ1ZmRUJSRFNGTkZlSFJsYm5OcGIyNUpa
	R1Z1ZEdsMGVWaE9VMDlpYW1WamRGOFFKR052YlM1aGNIQnNaUzUzYVc1a2IzZHRZVzVo
	WjJWeUxuTjBZV2RsYldGdVlXZGxjdElnSVNncFh4QVNRMGhUUTI5dWRISnZiRWxrWlc1
	MGFYUjVvaW9sWHhBU1EwaFRRMjl1ZEhKdmJFbGtaVzUwYVhSNUFBZ0FFUUFhQUNRQUtR
	QXlBRGNBU1FCTUFGRUFVd0JjQUdJQWF3QjFBSG9BZ0FDSEFJa0Fpd0NOQUk4QW1BQ3JB
	TWNBNHdEbEFPY0E2UURyQVE0QktBRXRBVGdCUVFGWUFWc0JjZ0Y3QWFJQnB3RzhBYjhB
	QUFBQUFBQUNBUUFBQUFBQUFBQXJBQUFBQUFBQUFBQUFBQUFBQUFBQjFBPT0iLCJPdmVy
	cmlkZVNpemVGb3JNZW51QmFyIjpmYWxzZX0seyJJZGVudGlmaWVyIjpbIkE4RDZFMjE3
	LTRBRUEtNDdGRS05QjZELTdFNDlGMTMzRjlGQiJdLCJEaXNwbGF5TmFtZSI6IkNhcHR1
	cmUgU2NyZWVuIiwiQ29udHJvbFNpemUiOjAsIkNvbnRyb2xUeXBlIjoyLCJDb250cm9s
	RGVzY3JpcHRpb24iOiJCdXR0b24gdG8gdGFrZSBhIHNjcmVlbnNob3QiLCJQcm9tcHRz
	Rm9yVXNlckNvbmZpZ3VyYXRpb24iOmZhbHNlLCJDb250cm9sSWRlbnRpdHkiOiJZbkJz
	YVhOME1ERFVBUUlEQkFVR0J3cFlKSFpsY25OcGIyNVpKR0Z5WTJocGRtVnlWQ1IwYjNC
	WUpHOWlhbVZqZEhNU0FBR0dvRjhRRDA1VFMyVjVaV1JCY21Ob2FYWmxjdEVJQ1ZSeWIy
	OTBnQUdvQ3d3VkhSNGZKaWRWSkc1MWJHelVEUTRQRUJFU0V4UlphVzUwWlc1MFVtVm1W
	R3RwYm1SVlpYaDBTV1JXSkdOc1lYTnpnQUNBQm9BQ2dBZlVGaGNZRUJFYUd4eGZFQkJr
	WlhacFkyVkpaR1Z1ZEdsbWFXVnlYeEFaWTI5dWRHRnBibVZ5UW5WdVpHeGxTV1JsYm5S
	cFptbGxjbDhRR1dWNGRHVnVjMmx2YmtKMWJtUnNaVWxrWlc1MGFXWnBaWEtBQUlBRWdB
	T0FCVjhRSFdOdmJTNWhjSEJzWlM1amIyNTBjbTlzY3k1elkzSmxaVzV6YUc5MFh4QWRZ
	Mjl0TG1Gd2NHeGxMbk5qY21WbGJuTm9iM1F1YkdGMWJtTm9aWExTSUNFaUkxb2tZMnho
	YzNOdVlXMWxXQ1JqYkdGemMyVnpYeEFVUTBoVFJYaDBaVzV6YVc5dVNXUmxiblJwZEht
	aUpDVmZFQlJEU0ZORmVIUmxibk5wYjI1SlpHVnVkR2wwZVZoT1UwOWlhbVZqZEY4UUxH
	TnZiUzVoY0hCc1pTNWpiMjUwY205c2N5NXpZM0psWlc1emFHOTBMbU5oY0hSMWNtVXRj
	Mk55WldWdTBpQWhLQ2xmRUJKRFNGTkRiMjUwY205c1NXUmxiblJwZEhtaUtpVmZFQkpE
	U0ZORGIyNTBjbTlzU1dSbGJuUnBkSGtBQ0FBUkFCb0FKQUFwQURJQU53QkpBRXdBVVFC
	VEFGd0FZZ0JyQUhVQWVnQ0FBSWNBaVFDTEFJMEFqd0NZQUtzQXh3RGpBT1VBNXdEcEFP
	c0JDd0VyQVRBQk93RkVBVnNCWGdGMUFYNEJyUUd5QWNjQnlnQUFBQUFBQUFJQkFBQUFB
	QUFBQUNzQUFBQUFBQUFBQUFBQUFBQUFBQUhmIiwiT3ZlcnJpZGVTaXplRm9yTWVudUJh
	ciI6ZmFsc2V9LHsiSWRlbnRpZmllciI6WyIyNDJFQkU1Ny1ERTVGLTRFNEUtQjBGRS04
	NENDQUJFRUMxOUMiXSwiRGlzcGxheU5hbWUiOiJEYXJrIE1vZGUiLCJDb250cm9sU2l6
	ZSI6MCwiQ29udHJvbFR5cGUiOjEsIkNvbnRyb2xEZXNjcmlwdGlvbiI6IlRvZ2dsZSB3
	aGV0aGVyIERhcmsgTW9kZSBpcyBlbmFibGVkIiwiUHJvbXB0c0ZvclVzZXJDb25maWd1
	cmF0aW9uIjpmYWxzZSwiQ29udHJvbElkZW50aXR5IjoiWW5Cc2FYTjBNRERVQVFJREJB
	VUdCd3BZSkhabGNuTnBiMjVaSkdGeVkyaHBkbVZ5VkNSMGIzQllKRzlpYW1WamRITVNB
	QUdHb0Y4UUQwNVRTMlY1WldSQmNtTm9hWFpsY3RFSUNWUnliMjkwZ0FHb0N3d1ZIUjRm
	SmlkVkpHNTFiR3pVRFE0UEVCRVNFeFJaYVc1MFpXNTBVbVZtVkd0cGJtUlZaWGgwU1dS
	V0pHTnNZWE56Z0FDQUJvQUNnQWZVRmhjWUVCRWFHeHhmRUJCa1pYWnBZMlZKWkdWdWRH
	bG1hV1Z5WHhBWlkyOXVkR0ZwYm1WeVFuVnVaR3hsU1dSbGJuUnBabWxsY2w4UUdXVjRk
	R1Z1YzJsdmJrSjFibVJzWlVsa1pXNTBhV1pwWlhLQUFJQUVnQU9BQlY4UUdtTnZiUzVo
	Y0hCc1pTNWpiMjUwY205c2N5NWthWE53YkdGNVh4QVhZMjl0TG1Gd2NHeGxMbU52Ym5S
	eWIyeGpaVzUwWlhMU0lDRWlJMW9rWTJ4aGMzTnVZVzFsV0NSamJHRnpjMlZ6WHhBVVEw
	aFRSWGgwWlc1emFXOXVTV1JsYm5ScGRIbWlKQ1ZmRUJSRFNGTkZlSFJsYm5OcGIyNUpa
	R1Z1ZEdsMGVWaE9VMDlpYW1WamRGOFFKR052YlM1aGNIQnNaUzVqYjI1MGNtOXNjeTVr
	YVhOd2JHRjVMbVJoY21zdGJXOWtaZElnSVNncFh4QVNRMGhUUTI5dWRISnZiRWxrWlc1
	MGFYUjVvaW9sWHhBU1EwaFRRMjl1ZEhKdmJFbGtaVzUwYVhSNUFBZ0FFUUFhQUNRQUtR
	QXlBRGNBU1FCTUFGRUFVd0JjQUdJQWF3QjFBSG9BZ0FDSEFJa0Fpd0NOQUk4QW1BQ3JB
	TWNBNHdEbEFPY0E2UURyQVFnQklnRW5BVElCT3dGU0FWVUJiQUYxQVp3Qm9RRzJBYmtB
	QUFBQUFBQUNBUUFBQUFBQUFBQXJBQUFBQUFBQUFBQUFBQUFBQUFBQnpnPT0iLCJPdmVy
	cmlkZVNpemVGb3JNZW51QmFyIjpmYWxzZX0seyJJZGVudGlmaWVyIjpbIkUyNUJEMTQx
	LUJDNTgtNENBMy1BOEU0LTgyMEZDOTJCMTRGOSJdLCJEaXNwbGF5TmFtZSI6IlN0YWdl
	IE1hbmFnZXIiLCJDb250cm9sU2l6ZSI6MCwiQ29udHJvbFR5cGUiOjEsIkNvbnRyb2xE
	ZXNjcmlwdGlvbiI6IkVuYWJsZSBTdGFnZSBNYW5hZ2VyIiwiUHJvbXB0c0ZvclVzZXJD
	b25maWd1cmF0aW9uIjpmYWxzZSwiQ29udHJvbElkZW50aXR5IjoiWW5Cc2FYTjBNRERV
	QVFJREJBVUdCd3BZSkhabGNuTnBiMjVaSkdGeVkyaHBkbVZ5VkNSMGIzQllKRzlpYW1W
	amRITVNBQUdHb0Y4UUQwNVRTMlY1WldSQmNtTm9hWFpsY3RFSUNWUnliMjkwZ0FHb0N3
	d1ZIUjRmSmlkVkpHNTFiR3pVRFE0UEVCRVNFeFJaYVc1MFpXNTBVbVZtVkd0cGJtUlZa
	WGgwU1dSV0pHTnNZWE56Z0FDQUJvQUNnQWZVRmhjWUVCRWFHeHhmRUJCa1pYWnBZMlZK
	WkdWdWRHbG1hV1Z5WHhBWlkyOXVkR0ZwYm1WeVFuVnVaR3hsU1dSbGJuUnBabWxsY2w4
	UUdXVjRkR1Z1YzJsdmJrSjFibVJzWlVsa1pXNTBhV1pwWlhLQUFJQUVnQU9BQlY4UUlH
	TnZiUzVoY0hCc1pTNVhhVzVrYjNkTllXNWhaMlZ5TG1OdmJuUnliMnh6WHhBWFkyOXRM
	bUZ3Y0d4bExsZHBibVJ2ZDAxaGJtRm5aWExTSUNFaUkxb2tZMnhoYzNOdVlXMWxXQ1Jq
	YkdGemMyVnpYeEFVUTBoVFJYaDBaVzV6YVc5dVNXUmxiblJwZEhtaUpDVmZFQlJEU0ZO
	RmVIUmxibk5wYjI1SlpHVnVkR2wwZVZoT1UwOWlhbVZqZEY4UUpHTnZiUzVoY0hCc1pT
	NTNhVzVrYjNkdFlXNWhaMlZ5TG5OMFlXZGxiV0Z1WVdkbGN0SWdJU2dwWHhBU1EwaFRR
	Mjl1ZEhKdmJFbGtaVzUwYVhSNW9pb2xYeEFTUTBoVFEyOXVkSEp2YkVsa1pXNTBhWFI1
	QUFnQUVRQWFBQ1FBS1FBeUFEY0FTUUJNQUZFQVV3QmNBR0lBYXdCMUFIb0FnQUNIQUlr
	QWl3Q05BSThBbUFDckFNY0E0d0RsQU9jQTZRRHJBUTRCS0FFdEFUZ0JRUUZZQVZzQmNn
	RjdBYUlCcHdHOEFiOEFBQUFBQUFBQ0FRQUFBQUFBQUFBckFBQUFBQUFBQUFBQUFBQUFB
	QUFCMUE9PSIsIk92ZXJyaWRlU2l6ZUZvck1lbnVCYXIiOmZhbHNlfSx7IklkZW50aWZp
	ZXIiOlsiQ0JDNzdBMzgtOUI2Qy00QTA3LUEyODYtMzY3MzNEN0U5NjQ0Il0sIkRpc3Bs
	YXlOYW1lIjoiRGFyayBNb2RlIiwiQ29udHJvbFNpemUiOjAsIkNvbnRyb2xUeXBlIjox
	LCJDb250cm9sRGVzY3JpcHRpb24iOiJUb2dnbGUgd2hldGhlciBEYXJrIE1vZGUgaXMg
	ZW5hYmxlZCIsIlByb21wdHNGb3JVc2VyQ29uZmlndXJhdGlvbiI6ZmFsc2UsIkNvbnRy
	b2xJZGVudGl0eSI6IlluQnNhWE4wTUREVUFRSURCQVVHQndwWUpIWmxjbk5wYjI1WkpH
	RnlZMmhwZG1WeVZDUjBiM0JZSkc5aWFtVmpkSE1TQUFHR29GOFFEMDVUUzJWNVpXUkJj
	bU5vYVhabGN0RUlDVlJ5YjI5MGdBR29Dd3dWSFI0ZkppZFZKRzUxYkd6VURRNFBFQkVT
	RXhSWmFXNTBaVzUwVW1WbVZHdHBibVJWWlhoMFNXUldKR05zWVhOemdBQ0FCb0FDZ0Fm
	VUZoY1lFQkVhR3h4ZkVCQmtaWFpwWTJWSlpHVnVkR2xtYVdWeVh4QVpZMjl1ZEdGcGJt
	VnlRblZ1Wkd4bFNXUmxiblJwWm1sbGNsOFFHV1Y0ZEdWdWMybHZia0oxYm1Sc1pVbGta
	VzUwYVdacFpYS0FBSUFFZ0FPQUJWOFFHbU52YlM1aGNIQnNaUzVqYjI1MGNtOXNjeTVr
	YVhOd2JHRjVYeEFYWTI5dExtRndjR3hsTG1OdmJuUnliMnhqWlc1MFpYTFNJQ0VpSTFv
	a1kyeGhjM051WVcxbFdDUmpiR0Z6YzJWelh4QVVRMGhUUlhoMFpXNXphVzl1U1dSbGJu
	UnBkSG1pSkNWZkVCUkRTRk5GZUhSbGJuTnBiMjVKWkdWdWRHbDBlVmhPVTA5aWFtVmpk
	RjhRSkdOdmJTNWhjSEJzWlM1amIyNTBjbTlzY3k1a2FYTndiR0Y1TG1SaGNtc3RiVzlr
	WmRJZ0lTZ3BYeEFTUTBoVFEyOXVkSEp2YkVsa1pXNTBhWFI1b2lvbFh4QVNRMGhUUTI5
	dWRISnZiRWxrWlc1MGFYUjVBQWdBRVFBYUFDUUFLUUF5QURjQVNRQk1BRkVBVXdCY0FH
	SUFhd0IxQUhvQWdBQ0hBSWtBaXdDTkFJOEFtQUNyQU1jQTR3RGxBT2NBNlFEckFRZ0JJ
	Z0VuQVRJQk93RlNBVlVCYkFGMUFad0JvUUcyQWJrQUFBQUFBQUFDQVFBQUFBQUFBQUFy
	QUFBQUFBQUFBQUFBQUFBQUFBQUJ6Zz09IiwiT3ZlcnJpZGVTaXplRm9yTWVudUJhciI6
	ZmFsc2V9XX0=
	</data>
	<key>HasAttemptedMenuBarWorkflowMigration</key>
	<true/>
	<key>LastHeartbeatDateString.daily</key>
	<string>2026-08-12T02:07:24Z</string>
	<key>LastPeriodicAnalyticsPostDate</key>
	<date>2026-08-11T03:52:01Z</date>
	<key>LiveActivityState</key>
	<data>
	eyJDb21wYW5pb25QYWlyZWQiOmZhbHNlLCJMYXN0Q2hhbmdlRGF0ZSI6NzgwNDcyOTAw
	LjcxNTc4MywiRW5hYmxlZCI6ZmFsc2UsIlNldHRpbmdFdmVyRWRpdGVkIjp0cnVlLCJT
	ZXR0aW5nRW5hYmxlZCI6dHJ1ZX0=
	</data>
	<key>MenuBarCustomizationState</key>
	<data>
	eyJNb3ZlZENvbnRyb2xUb0JlbnRvQm94IjpmYWxzZSwiQWRkZWRDb250cm9sIjpmYWxz
	ZSwiUmVtb3ZlZENvbnRyb2wiOnRydWUsIkFkZGVkQmVudG9Cb3giOmZhbHNlLCJMYXN0
	Q2hhbmdlRGF0ZSI6Nzg5NjY3NDM1LjYxOTIwMiwiQ3VzdG9taXplZENvbnRyb2wiOmZh
	bHNlLCJSZW1vdmVkQmVudG9Cb3giOmZhbHNlfQ==
	</data>
	<key>NSStatusItem Preferred Position Battery</key>
	<real>177</real>
	<key>NSStatusItem Preferred Position BentoBox</key>
	<real>135</real>
	<key>NSStatusItem Preferred Position BentoBox-0</key>
	<real>135</real>
	<key>NSStatusItem Preferred Position Bluetooth</key>
	<real>323</real>
	<key>NSStatusItem Preferred Position FocusModes</key>
	<real>507</real>
	<key>NSStatusItem Preferred Position StageManager</key>
	<real>411</real>
	<key>NSStatusItem Preferred Position WiFi</key>
	<real>285</real>
	<key>NSStatusItem Visible BentoBox</key>
	<true/>
	<key>NSStatusItem Visible FocusModes</key>
	<false/>
	<key>NSStatusItem Visible Item-0</key>
	<false/>
	<key>NSStatusItem Visible Item-1</key>
	<false/>
	<key>NSStatusItem Visible Item-2</key>
	<false/>
	<key>NSStatusItem Visible Item-3</key>
	<false/>
	<key>NSStatusItem Visible Item-4</key>
	<false/>
	<key>NSStatusItem Visible Item-5</key>
	<false/>
	<key>NSStatusItem Visible Item-6</key>
	<false/>
	<key>NSStatusItem Visible Item-7</key>
	<false/>
	<key>NSStatusItem Visible StageManager</key>
	<false/>
	<key>NSStatusItem VisibleCC Battery</key>
	<true/>
	<key>NSStatusItem VisibleCC BentoBox-0</key>
	<true/>
	<key>NSStatusItem VisibleCC Bluetooth</key>
	<true/>
	<key>NSStatusItem VisibleCC Clock</key>
	<true/>
	<key>NSStatusItem VisibleCC WiFi</key>
	<true/>
	<key>RemoteLiveActivitiesEnabled</key>
	<true/>
</dict>
</plist>
